.hv-bookmarks-panel {
    padding: .4em;
}
.hv-bookmarks-list {
    margin: .2em 0;
}

.hv-bookmarks-empty-placeholder {
    color: var(--secondary-placeholder-fg-color);
    text-align: center;
    margin: .5em 0;
}

.hv-bookmarks-list-entry {
    display: flex;
    margin: .2em 0;
}

.hv-bookmarks-list-name {
    flex: 1;
    min-width: 5em;
    margin-right: .2em;
}

.hv-bookmarks-hint {
    color: var(--secondary-placeholder-fg-color);
    text-align: center;
    border-top: 1px solid var(--secondary-border-color);
}