.hexviewerconfigeditor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hexviewerconfigeditor > .hv-renderer-list {
    flex-shrink: 1;
    min-height: 10em;
    overflow: auto;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.hexviewerconfigeditor > .hv-add-renderer {
    margin: .4em;
}

.hexviewerconfigeditor .hv-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .4em;
}

.hexviewerconfigeditor .hv-renderer-details {
    margin-left: 1em;
    border-left: .2em solid rgba(0,0,0,0.25);
}