.sidebar-resize-wrapper {
    position: relative;
}

.sidebar-resizer {
    position: absolute;
    top: 0;
    left: -5px;
    width: 10px;
    height: 100%;
    cursor: w-resize;
}

.sidebar-content {
    width: 15em;
    overflow: auto;
    background: var(--secondary-bg-color);
    color: var(--secondary-fg-color);
    border-left: 1px solid var(--secondary-border-color);
    height: 100%;
}

.sidebar-tabs {
    writing-mode: vertical-lr;
    border-left: 1px solid var(--secondary-border-color);
    background: var(--secondary-bg-color);
    color: var(--secondary-fg-color);
    display: flex;
    flex-direction: row;
    user-select: none;
    overflow: auto;
}

.sidebar-tab {
    display: inline-block;
    white-space: nowrap;
    padding: .6em .2em;
    margin: 1px; /* to make sure the focus outline stays visible */
    border-bottom: 1px solid var(--secondary-border-color);
    cursor: pointer;
}

.sidebar-tab:focus {
    outline: 1px solid #66f;
}

.sidebar-tab.selected {
    background: var(--secondary-select-bg-color);
}