.data-grid {
    position: relative;
    white-space: nowrap;
    text-align: right;
    z-index: 0; /* need a new stacking context for the highlights */
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
.data-grid:focus {
    outline-width: 0;
}

.data-grid > .grid-cell {
    pointer-events: none;
}

.data-grid .cursor {
    border: 1px solid var(--hx-cursor-border-color, #bbe);
    z-index: -1;
}
.data-grid:focus .cursor {
    background: var(--hx-selection-color, #bbe);
}

.data-grid .selection {
    background: var(--hx-selection-color, #eef);
    opacity: 0.4;
    z-index: -2;
}
.data-grid:focus .selection {
    opacity: 1;
}
