.hex-viewer {
    display: flex;
    min-height: 100%;
    font-family: monospace;
    color: #00a;
    white-space: nowrap;
}

.hex-viewer-column {
    padding: 0.5em;
    border-right: 1px solid red;
}

.hex-viewer-column:last-child {
    border-right: none;
}

.measure-text {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

.hex-viewer .data-grid .hover {
    border: 1px solid #bbe;
    background: #fff5ff;
    z-index: -1;
}