.address-gutter {
    font-family: monospace;
    color: #00a;
    font-size: 17.6px;
    min-width: 4em;
    white-space: nowrap;
    text-align: right;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.address-gutter .address {
    height: 17.6px;
}