.data-grid {
    font-family: monospace;
    color: #00a;
    font-size: 17.6px;
    white-space: nowrap;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
.data-grid:focus {
    outline-width: 0;
}

.data-grid .line {
    position: relative;
    height: 17.6px;
}

.data-grid .element {
    display: inline-block;
    white-space: pre;
}
.data-grid.spaced .element {
    padding-left: .8em;
}
.data-grid.spaced .element:first-child {
    padding-left: 0;
}
.data-grid .element.cursor span {
    margin: -1px;
    border: 1px solid green;
}
.data-grid:focus .element.cursor span {
    background: rgba(136, 255, 195, 0.4)
}

.data-grid .selection {
    background: #eef;
    height: 1em;
    z-index: -1;
}
.data-grid:focus .selection {
    background: #ddf;
}