.data-grid {
    color: #00a;
    white-space: nowrap;
    position: relative;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
.data-grid:focus {
    outline-width: 0;
}

.data-grid .cursor {
    border: 1px solid #bbe;
}
.data-grid:focus .cursor {
    border: 1px solid green;
    background: rgba(136, 255, 195, 0.4)
}

.data-grid .selection {
    background: #eef;
    z-index: -1;
}
.data-grid:focus .selection {
    background: #ddf;
}