.hexgrid {
    font-family: monospace;
    color: #00a;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.hexgrid .octet {
    display: inline-block;
    padding-left: .8em;
}
.hexgrid .octet:first-child {
    padding-left: 0;
}
.hexgrid .octet.cursor span {
    margin: -1px;
    border: 1px solid green;
}
.hexgrid:focus .octet.cursor span {
    background: #88ffc3;
}