.file-selection-page {
    height: 100%;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.file-selection-page .caption {
    font-size: 2em;
    margin-bottom: .5em;
}

.file-selection-page .source-alternatives {
    display: flex;
}

.file-selection-page .source-alternatives > * {
    padding: .5em 1em;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.file-selection-page .source-alternatives > *:last-child {
    border-right: none;
}

.file-selection-page .source-alternatives .source-caption {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0.5em;
}

.file-selection-page .source-alternatives > div.source-alternative-url {
    padding-bottom: 1em;
}

.hv-drop-zone {
    width: 18em;
    height: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em 2em;
    border: .25em dashed #ccc;
    border-radius: 1em;
    background-color: #f0f0f0;
    color: #999;
    outline: none;
    transition: .1s ease-in-out;
    transition-property: border-color, background-color;
    user-select: none;
}

.hv-drop-zone:focus {
    box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

.hv-drop-zone:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}

.hv-drop-zone.hv-drop-zone-drag-active {
    border-color: #2196f3;
    background-color: #ddd;
}

.file-selection-page .loading-status {
    font-color: #ccc;
}

.hv-spinner {
    margin: 3em auto;
    font-size: 1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: hv-spinner-anim 1.1s infinite ease;
    transform: translateZ(0);
}

@keyframes hv-spinner-anim {
0%,
100% {
    box-shadow: 0em -2.6em 0em 0em rgba(128, 128, 128, 0), 1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2), 2.5em 0em 0 0em rgba(128, 128, 128, 0.2), 1.75em 1.75em 0 0em rgba(128, 128, 128, 0.2), 0em 2.5em 0 0em rgba(128, 128, 128, 0.2), -1.8em 1.8em 0 0em rgba(128, 128, 128, 0.2), -2.6em 0em 0 0em rgba(128, 128, 128, 0.5), -1.8em -1.8em 0 0em rgba(128, 128, 128, 0.7);
}
12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(128, 128, 128, 0.7), 1.8em -1.8em 0 0em rgba(128, 128, 128, 0), 2.5em 0em 0 0em rgba(128, 128, 128, 0.2), 1.75em 1.75em 0 0em rgba(128, 128, 128, 0.2), 0em 2.5em 0 0em rgba(128, 128, 128, 0.2), -1.8em 1.8em 0 0em rgba(128, 128, 128, 0.2), -2.6em 0em 0 0em rgba(128, 128, 128, 0.2), -1.8em -1.8em 0 0em rgba(128, 128, 128, 0.5);
}
25% {
    box-shadow: 0em -2.6em 0em 0em rgba(128, 128, 128, 0.5), 1.8em -1.8em 0 0em rgba(128, 128, 128, 0.7), 2.5em 0em 0 0em rgba(128, 128, 128, 0), 1.75em 1.75em 0 0em rgba(128, 128, 128, 0.2), 0em 2.5em 0 0em rgba(128, 128, 128, 0.2), -1.8em 1.8em 0 0em rgba(128, 128, 128, 0.2), -2.6em 0em 0 0em rgba(128, 128, 128, 0.2), -1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2);
}
37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(128, 128, 128, 0.2), 1.8em -1.8em 0 0em rgba(128, 128, 128, 0.5), 2.5em 0em 0 0em rgba(128, 128, 128, 0.7), 1.75em 1.75em 0 0em rgba(128, 128, 128, 0), 0em 2.5em 0 0em rgba(128, 128, 128, 0.2), -1.8em 1.8em 0 0em rgba(128, 128, 128, 0.2), -2.6em 0em 0 0em rgba(128, 128, 128, 0.2), -1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2);
}
50% {
    box-shadow: 0em -2.6em 0em 0em rgba(128, 128, 128, 0.2), 1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2), 2.5em 0em 0 0em rgba(128, 128, 128, 0.5), 1.75em 1.75em 0 0em rgba(128, 128, 128, 0.7), 0em 2.5em 0 0em rgba(128, 128, 128, 0), -1.8em 1.8em 0 0em rgba(128, 128, 128, 0.2), -2.6em 0em 0 0em rgba(128, 128, 128, 0.2), -1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2);
}
62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(128, 128, 128, 0.2), 1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2), 2.5em 0em 0 0em rgba(128, 128, 128, 0.2), 1.75em 1.75em 0 0em rgba(128, 128, 128, 0.5), 0em 2.5em 0 0em rgba(128, 128, 128, 0.7), -1.8em 1.8em 0 0em rgba(128, 128, 128, 0), -2.6em 0em 0 0em rgba(128, 128, 128, 0.2), -1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2);
}
75% {
    box-shadow: 0em -2.6em 0em 0em rgba(128, 128, 128, 0.2), 1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2), 2.5em 0em 0 0em rgba(128, 128, 128, 0.2), 1.75em 1.75em 0 0em rgba(128, 128, 128, 0.2), 0em 2.5em 0 0em rgba(128, 128, 128, 0.5), -1.8em 1.8em 0 0em rgba(128, 128, 128, 0.7), -2.6em 0em 0 0em rgba(128, 128, 128, 0), -1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2);
}
87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(128, 128, 128, 0.2), 1.8em -1.8em 0 0em rgba(128, 128, 128, 0.2), 2.5em 0em 0 0em rgba(128, 128, 128, 0.2), 1.75em 1.75em 0 0em rgba(128, 128, 128, 0.2), 0em 2.5em 0 0em rgba(128, 128, 128, 0.2), -1.8em 1.8em 0 0em rgba(128, 128, 128, 0.5), -2.6em 0em 0 0em rgba(128, 128, 128, 0.7), -1.8em -1.8em 0 0em rgba(128, 128, 128, 0);
}
}
